.pricing-section .pr-content .pr-tab {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	-webkit-transform: scale(0.8,0.8) translateX(410px);
	-ms-transform: scale(0.8,0.8) translateX(410px);
	-o-transform: scale(0.8,0.8) translateX(410px);
	/* -moz-transform: scale(0.8,0.8) translateX(410px); */
	/* transform: scale(0.8,0.8) translateX(410px); */
}