@tailwind base;
@tailwind components;
@tailwind utilities;

.h_16 {
  @apply h-16;
}

.container {
  @apply max-w-[82rem] m-auto px-10;
}

section {
  @apply overflow-hidden;
}

.overflow_section {
  @apply overflow-visible;
}

h1,
h2,
h3,
h4 {
  @apply font-bold font-spartan;
}

h2 {
  @apply text-2xl xs:text-3xl md:text-4xl max-w-[37rem];
}

h1,
h2 {
  line-height: 1.5;
}
p {
  @apply leading-8;
}

/* All btns */
.btn:hover:before {
  @apply -top-[10%] z-10;
}

/*=========== Nav Bar ==========*/
[x-cloak] {
  display: none !important;
}
.sub_menu {
  opacity: 0;
  visibility: hidden;
  top: 110%;
}

.nav_large ul .parent_li:hover > .sub_menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}


/*=========== Main page ==========*/

/* main bg */
.hero .top_bg {
  background-image: url("../images/main/shape-1.png");
  background-position: bottom center;
  background-size: cover;
}
.hero .bottom_bg {
  background-image: url("../images/main/banner-shap.png");
  background-position: bottom center;
  background-size: cover;
}

/* bottom bg */
.shadow_bg {
  position: absolute;
  background-image: url("../images/main/shape-2.png");
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 363px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.water_drop img {
  bottom: -152px;
  right: -177px;
}
.bottle_img img {
  bottom: -72px;
  right: 133px;
}

/* Hero Slider */

/* .swiper-slide .container {
  opacity: 0.5;
  transition: all 2000ms;
}

.swiper-slide-active .container {
  opacity: 1;
  transition: all 2000ms;
} */

/* box shadow */
.custom_shadow {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.13);
}

/* Swiper Slider */
.swiper-pagination-bullet {
  @apply h-4 w-4 rounded-full bg-slate-400;
}
.swiper-pagination-bullet-active {
  @apply bg-default-blue;
}

/*=========== Team Section ==========*/
.member:hover .hover_img {
  @apply bg-slate-900/50;
}
.member:hover .icons {
  @apply scale-100;
}

/*=========== bottle price Section ==========*/
.bottle_price .items .item:hover img {
  transform: scale(1);
}
/*=========== News Section ==========*/
.news .items .news_item:hover .hover_img {
  @apply bg-slate-900/50;
}
.news .items .news_item:hover img {
  @apply scale-105;
}

.about_top_bg {
  position: absolute;
  background-image: url("../images/main/shape-1.png");
  left: 0px;
  top: 0;
  width: 100%;
  height: 143px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.about_bottom_bg {
  position: absolute;
  background-image: url("../images/main/banner-shap.png");
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 68px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
/* cart */
.cart_bg {
  position: absolute;
  top: 5rem;
  left: -1rem;
  width: 30rem;
  height: 30rem;
  background-image: url("../images/pricing/pricing-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*  Animations ***************************************************/

/* Hero Slider Animation */

/* fade up bottle */
.fadeInUpBottle {
  -webkit-animation-name: fadeInUpBottle;
  animation-name: fadeInUpBottle;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUpBottle {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpBottle {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Hero fade Down */
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
